<script src="/js/main.js"></script>
<% if (typeof additionalJS !=='undefined' ) { %>
    <% additionalJS.forEach(function(js) { %>
        <script src="/js/<%= js %>.js"></script>
        <% }); %>
            <% } %>
                </body>

                </html>